
*{text-decoration:none !important; outline:0 !important; list-style:none !important;}

body {color:#2b2a2a; background:#fff; font-family: Helvetica Neue, Segoe UI, sans-serif;}

a,a:hover {transition:0.6s all !important;}

.form-control:focus {box-shadow:0px 0px 5px #fed307 !important; border-color:#fed307;}


@font-face {
    font-family: 'Roboto-Regular';
    src: url('../fonts/Roboto-Regular.ttf'),
         url('../fonts/Roboto-Regular.ttf');
        font-weight: normal;
        font-style: normal;
}
@font-face {
    font-family: 'Roboto-Medium';
    src: url('../fonts/Roboto-Medium.ttf'),
         url('../fonts/Roboto-Medium.ttf');
        font-weight: normal;
        font-style: normal;
}
@font-face {
    font-family: 'Roboto-Light';
    src: url('../fonts/Roboto-Light.ttf'),
         url('../fonts/Roboto-Light.ttf');
        font-weight: normal;
        font-style: normal;
}
@font-face {
    font-family: 'Roboto-Bold';
    src: url('../fonts/Roboto-Bold.ttf'),
         url('../fonts/Roboto-Bold.ttf');
        font-weight: normal;
        font-style: normal;
}



.bgheader_bgcolor {
    display: inline-block;
    width: 100%;
    float: left;
    padding-right: 40px;
    padding-left: 40px;
    padding-top: 0px;
    padding-bottom: 8px;
    background: #fff;
    /*background: rgba(236,32,195,1);
    background: -moz-linear-gradient(left, rgba(236,32,195,1) 0%, rgba(121,29,251,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(236,32,195,1)), color-stop(100%, rgba(121,29,251,1)));
    background: -webkit-linear-gradient(left, rgba(236,32,195,1) 0%, rgba(121,29,251,1) 100%);
    background: -o-linear-gradient(left, rgba(236,32,195,1) 0%, rgba(121,29,251,1) 100%);
    background: -ms-linear-gradient(left, rgba(236,32,195,1) 0%, rgba(121,29,251,1) 100%);
    background: linear-gradient(to right, rgba(236,32,195,1) 0%, rgba(121,29,251,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ec20c3', endColorstr='#791dfb', GradientType=1 );*/
}
.logo_leftbox {
    display: inline-block;
    width: 80%;
    float: left;
}
.logo_leftbox img {
    width: 50px;
}
.logout_rightbox {
    display: inline-block;
    width: 20%;
    float: left;
    text-align: right;
    padding-top: 25px;
}
.logout_rightbox a {
    display: inline-block;
    font-family: 'Roboto-Medium';
    color: #464646;
    font-size: 17px;
}
/*.logout_rightbox h4 {
    margin: 0px;
    color: #000;
    padding-top: 13px;
    text-align: right;
    font-size: 16px;
    font-family: 'Roboto-Medium';
}*/
.logout_rightbox a img{
    width: 25px;
}
.parettow_coverbox{
    display: inline-block;
    width: 100%;
    padding-top: 15px;
}
.left_paretboxpart{
    display: inline-block;
    width: 20%;
    float: left;
    background: #FDFDFD;
    border-right: 1px solid #F7F7F7;
}
.innercategories {
    display: inline-block;
    width: 100%;
}
.innercategories ul {
    display: inline-block;
    width: 100%;
    padding: 0px;
    margin: 0px;
}
.innercategories ul li {
    display: inline-block;
    width: 100%;
}
.activelist {
    width: 85% !important;
    border-radius: 0px 26px 26px 0px;
    background: #015178;
    
}
.innercategories ul li a {
    display: inline-block;
    font-family: 'Roboto-Medium';
    font-size: 18px;
    color: #000;
    padding-left: 27px;
    margin-bottom: 13px;
    margin-top: 13px;
    width: 100%;
}
.activelist a {
    color: #fff !important;
}
.right_paddingboxpart {
    display: inline-block;
    width: 80%;
    float: left;
    padding-left: 30px;
    padding-top: 20px;
    padding-right: 30px;
}
.centr_paretboxpart {
    display: inline-block;
    width: 65%;
    float: left;
}
.right_paretboxpart{
    display: inline-block;
    width: 28%;
    float: left;
    margin-left: 40px;
}
.signeup_topbox{
    display: inline-block;
    width: 100%;
}
.signeup_lefttextbox{
    display: inline-block;
    width: 50%;
    float: left;
}
.signeup_lefttextbox p{
    margin: 0px;
    font-size: 20px;
    color: #4D4F5C;
    padding-top: 4px;
    font-family: 'Roboto-Medium';
}
.date_textboxpart {
    display: inline-block;
    width: 50%;
    float: left;
    position: relative;
}
.date_textboxpart img {
    width: 14px;
    position: absolute;
    left: 40px;
    top: 8px;
}
.date_textboxpart input {
    margin: 0px;
    font-size: 15px;
    color: #4D4F5C;
    font-family: 'Roboto-Light';
    border: 1px solid #DEE2EC;
    border-radius: 17px;
    padding: 5px 13px 5px 5px;
    text-align: right;
    width: 92%;
    float: right;
}
.signeup_innerborderbox {
    display: inline-block;
    width: 100%;
    margin-top: 15px;
    border: 1px solid #F1F1F1;
    padding: 10px 10px 10px 10px;
    margin-bottom: 48px;
    -webkit-box-shadow: -1px 0px 11px -6px rgba(158,158,158,0.88);
    -moz-box-shadow: -1px 0px 11px -6px rgba(158,158,158,0.88);
    box-shadow: -1px 0px 11px -6px rgba(158,158,158,0.88);
}
.total_usersdetlis {
    display: inline-block;
    width: 100%;
    border: 1px solid #F1F1F1;
    margin-bottom: 20px;
}
.total_usersdetlis ul {
    display: inline-block;
    width: 100%;
    padding: 0px;
    margin: 0px;
    padding-left: 16px;
    padding-top: 11px;
    padding-bottom: 11px;
}
.total_usersdetlis ul li {
    display: inline-block;
    width: 33.33%;
    float: left;
}
.total_usersdetlis ul li img {
    width: 45px;
    float: left;
    margin-right: 10px;
}
.total_usersdetlis ul li h3 {
    margin: 0px;
    font-size: 22px;
    color: #4D4F5C;
    padding-bottom: 3px;
    font-family: 'Roboto-Medium';
}
.total_usersdetlis ul li p {
    margin: 0px;
    font-size: 14px;
    color: #6A7284;
    font-family: 'Roboto-Regular';
}
.deviceandcity_paretpart {
    display: inline-block;
    width: 100%;
}
.device_childbox {
    display: inline-block;
    width: 30%;
    float: left;
    border: 1px solid #EAEAEA;
    padding-top: 8px;
    padding-bottom: 90px;
    padding-left: 11px;
    padding-right: 11px;
    margin-right: 18px;
}
.devicetital_text {
    display: inline-block;
    width: 100%;
    padding-bottom: 20px;
}
.iosdeviceuser_text {
    display: inline-block;
    width: 100%;
    padding-bottom: 10px;
    margin-bottom: 15px;
    border-bottom: 1px solid #EAEAEA;
}
.iosdeviceuser_text {
    display: inline-block;
    width: 100%;
    padding-bottom: 10px;
    margin-bottom: 15px;
    border-bottom: 1px solid #EAEAEA;
}
.bordersetnone {
    border-bottom: 0px;
}
.city_childbox {
    display: inline-block;
    width: 67%;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 8px;
    border: 1px solid #f1f1f1;
}
.city_childbox {
    display: inline-block;
    width: 67%;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 8px;
    border: 1px solid #f1f1f1;
}
.devicetital_text {
    display: inline-block;
    width: 100%;
    padding-bottom: 20px;
}
.citycategory_box {
    display: inline-block;
    width: 100%;
    padding-bottom: 10px;
    margin-bottom: 13px;
    border-bottom: 1px solid #F1F1F1;
}
.leftcity_textbox {
    display: inline-block;
    width: 80%;
    float: left;
}
.leftcity_textbox p {
    margin: 0px;
    font-size: 13px;
    color: #43425D;
    font-family: 'Roboto-Regular';
}
.rightcity_textbox {
    display: inline-block;
    width: 20%;
    float: left;
}
.rightcity_textbox p {
    margin: 0px;
    font-size: 13px;
    color: #A6A7AD;
    font-family: 'Roboto-Regular';
}
.lifetime_titaltext {
    display: inline-block;
    width: 100%;
}
.lifetime_titaltext p {
    margin: 0px;
    font-size: 18px;
    color: #4D4F5C;
    padding-top: 4px;
    font-family: 'Roboto-Medium';
}
.verified_detlisbox {
    display: inline-block;
    width: 100%;
    padding-top: 24px;
}
.verified_detlisbox ul {
    display: inline-block;
    width: 100%;
    padding: 0px;
    margin: 0px;
}
.verified_detlisbox ul li {
    display: inline-block;
    width: 100%;
    border: 1px solid #EAEAEA;
    margin-bottom: 15px;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 10px;
    padding-right: 10px;
}
.verified_detlisbox ul li img {
    width: 45px;
    float: left;
    margin-right: 10px;
}
.verified_detlisbox ul li h3 {
    margin: 0px;
    font-size: 22px;
    color: #4D4F5C;
    padding-bottom: 3px;
    font-family: 'Roboto-Medium';
}
.verified_detlisbox ul li p {
    margin: 0px;
    font-size: 14px;
    color: #6A7284;
    font-family: 'Roboto-Medium';
}

/**deta table.css**/
.users_datatablebox table.dataTable.no-footer {
    border-bottom: 1px solid #f1f1f1;
    border: 1px solid #f1f1f1;
}
.users_datatablebox .details-table {
  width            : 100%;
  background-color : #FFF;
  margin           : 5px;
} 
.users_datatablebox .title {
    font-weight : bold;
    width: 100px;
}
.users_datatablebox .iconSettings {
  margin-top    : 5px;
  margin-bottom : 10px;
  font-size     : 12px;
  position      : relative;
  top           : 1px;
  display       : inline-block;
  font-family   : 'Glyphicons Halflings';
  font-style    : normal;
  font-weight   : 400;
  line-height   : 1;
  -webkit-font-smoothing : antialiased;
}
.users_datatablebox table.dataTable thead th, table.dataTable thead td {
    padding: 10px 10px;
    border-bottom: 0px solid #111;
}
.users_datatablebox .table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #fff;
}
.users_datatablebox td.details-control::after {
    content: 'view';
    cursor: pointer;    
    color: #4E4E4E;
}
.users_datatablebox tr.shown td.details-control::after {
    content: 'close';
}
.users_datatablebox .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 8px;
    line-height: 2.5;
    vertical-align: top;    
    border: 1px solid #f1f1f1;
}
.users_datatablebox table.dataTable tbody th, table.dataTable tbody td {
    padding: 8px 10px;
    color: #878787;
    font-family: 'Roboto-Regular';
    font-weight: normal;
}


.users_datatablebox .table-hover>tbody>tr:hover {
    background-color: #fff;
}
.users_datatablebox .dataTables_wrapper{
    padding-top: 23px;
}
.users_datatablebox .dataTables_wrapper .dataTables_filter input {
    margin-left: 0.5em;
    border: 1px solid #f1f1f1;
    font-size: 14px;
    padding-left: 5px;
    font-weight: 600;
    font-family: 'Roboto-Regular';
}

/**deta table.css**/



/*login-css*/
.signupparent_divbox{
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-top: 90px;
}
.signup_innerbox{
    display: inline-block;
    width: 38%;
}
.login_toplogobox{
    display: inline-block;
    width: 100%;
    padding-bottom: 30px;
}
.login_toplogobox img{
    width: 232px;
}
.login_toplogobox h3{
    margin: 0px;
    font-size: 27px;
    font-family: 'Roboto-Medium';
    color: #000;
    padding-top: 30px;
    text-transform: uppercase;
    background: linear-gradient(to right, #EC20C3 0%, #791DFB 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;    
}
.login_toplogobox p{
    margin: 0px;
    font-size: 18px;    
    font-family: 'Roboto-Regular';
    color: #000;
    padding-top: 7px;
}
.logindetail_inputbox{
    display: inline-block;
    width: 100%;
    float: left;
    padding-bottom: 15px;
}
.logindetail_inputbox p{
    margin: 0px;
    font-size: 14px;
    color: #878787;
    padding-bottom: 7px;
    text-align: left;
    display: inline-block;
    float: left;
    font-family: 'Roboto-Regular';
}
.logindetail_inputbox input {
    border: 1px solid rgba(33, 33, 33, 0.12);
    border-radius: 0;
    background-color: #fff;
    box-shadow: none;
    color: #212121;
    height: 42px;
    width: 100%;
    padding: 0px 10px;
    font-family: 'Roboto-Regular';
}
.logindetail_inputbox .form-control:focus {
    box-shadow: none !important;    
    border: 1px solid rgba(33, 33, 33, 0.12);
}
.customcheck{
    display: inline-block;
    width: 100%;
}
.checkcontainer {
    font-weight: normal;
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 0px;
    cursor: pointer;
    font-size: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: left;
    font-family: 'Roboto-Regular';
    display: inline-block;
    float: left;
}
.checkcontainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 22px;
    width: 22px;
    background-color: #eee;
}
.checkcontainer:hover input ~ .checkmark {
  background-color: #ccc;
}
.checkcontainer input:checked ~ .checkmark {
  background-color: #EC20C3;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.checkcontainer input:checked ~ .checkmark:after {
  display: block;
}
.checkcontainer .checkmark:after {
    left: 8px;
    top: 4px;
    width: 7px;
    height: 12px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.logindetail_inputbox a{
    display: inline-block;
    font-size: 14px;
    float: right;
    font-family: 'Roboto-Regular';    
}
.signbtn_box{
    display: inline-block;
    width: 100%;
    margin-top: 24px;
}
.signbtn_box button{
    color: #fff;
    border: 0px;
    border-radius: 20px;
    font-family: 'Roboto-Regular';
    font-size: 15px;
    padding: 9px 17px 9px 17px;
    background: rgba(236,32,195,1);
    background: -moz-linear-gradient(left, rgba(236,32,195,1) 0%, rgba(121,29,251,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(236,32,195,1)), color-stop(100%, rgba(121,29,251,1)));
    background: -webkit-linear-gradient(left, rgba(236,32,195,1) 0%, rgba(121,29,251,1) 100%);
    background: -o-linear-gradient(left, rgba(236,32,195,1) 0%, rgba(121,29,251,1) 100%);
    background: -ms-linear-gradient(left, rgba(236,32,195,1) 0%, rgba(121,29,251,1) 100%);
    background: linear-gradient(to right, rgba(236,32,195,1) 0%, rgba(121,29,251,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ec20c3', endColorstr='#791dfb', GradientType=1 );
}

/*login-css*/

.formboxinform{
    display: inline-block;
    width: 70%;
}
.formboxinform .form-group{
    width: 50%;
    float: left;
    padding-right: 28px;
}
.formboxinform .form-group label{
    font-family: 'Roboto-Regular';
    font-weight: normal;
}
.formboxinform .form-group .form-control{
    font-family: 'Roboto-Regular';
}
.formboxinform .form-group label.error{
    font-family: 'Roboto-Regular';
    color: #FF0000;
    width: 100%;
    margin-bottom: 0;
    font-size: 14px;
}
.formboxinform .form-group .form-text{
    font-family: 'Roboto-Regular';
}
.formboxinform form{
    display: inline-block;
    width: 100%;
}


.custcheckboxmain{
    display: inline-block;
    width: 100%;
}
.checkboxcust {
    font-family: 'Roboto-Regular';
    display: block;
    position: relative;
    padding-left: 28px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-weight: normal;
}
.checkboxcust input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
}
.checkboxcust:hover input ~ .checkmark {
    background-color: #ccc;
}
.checkboxcust input:checked ~ .checkmark {
    background-color: #2196F3;
}
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.checkboxcust input:checked ~ .checkmark:after {
    display: block;
}
.checkboxcust .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}


.custcheckboxmain .checkmark{
    height: 18px;
    width: 18px;
}
.custcheckboxmain .checkboxcust .checkmark:after {
    left: 5px;
    top: 1px;
    width: 6px;
    height: 11px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.custcheckboxmain .checkmark{
    top: 2px;
}

.subsavbtnbox{
    display: inline-block;
    width: 100%;
}
.subsavbtnbox .btn{
    display: inline-block !important;
    background: #015178;
    color: #FFFFFF;
    font-size: 15px !important;
    font-family: 'Roboto-Regular';
    padding: 6px 24px 5px !important;
    border-radius: 2px !important;
    border: 0 !important;
    margin-left: 0;
    margin-right: 0;
    margin-top: 15px;
}
.subsavbtnbox .btn:hover{
    color: #ffffff !important;
}
.subsavbtnbox .btn:active{
    color: #ffffff !important;
}
.subsavbtnbox .btn.active.focus, .subsavbtnbox .btn.active:focus, .subsavbtnbox .btn.focus, .subsavbtnbox .btn:active.focus, .subsavbtnbox .btn:active:focus, .subsavbtnbox .btn:focus{
    color: #ffffff !important;
}
    /*display: inline-block;
    background-color: #015178;
    color: #FFFFFF;
    font-size: 16px;
    font-family: 'Roboto-Regular';
    padding: 6px 10px 5px;
    border-radius: 2px;
    border: 0;*/


.tablestaffint{
    
}
.tablestaffint thead tr th{
    font-family: 'Roboto-Medium';
    font-weight: normal;
}
.tablestaffint .btn{
    padding: 2px 7px 2px;
    border-radius: 2px;
    margin-right: 4px;
}
.addmemberbtn{
    display: inline-block;
    width: 50%;
    float: left;
    text-align: right;
}
.addmemberbtn .btn{
    display: inline-block !important;
    background: #015178;
    color: #FFFFFF;
    font-size: 15px !important;
    font-family: 'Roboto-Regular';
    padding: 6px 24px 5px !important;
    border-radius: 2px !important;
    border: 0 !important;
    margin-left: 0;
    margin-right: 0;
    margin-top: 15px;
}
.addmemberbtn .btn:hover{
    color: #ffffff;
}
.addmemberbtn .btn:hover{
    color: #ffffff !important;
}
.addmemberbtn .btn:active{
    color: #ffffff !important;
}
.addmemberbtn .btn.active.focus, .addmemberbtn .btn.active:focus, .addmemberbtn .btn.focus, .addmemberbtn .btn:active.focus, .addmemberbtn .btn:active:focus, .addmemberbtn .btn:focus{
    color: #ffffff !important;
}


.editdeletebtn{
    color: #878787;
    font-size: 18px;
    margin-right: 5px;
}
.editdeletebtn i{
    color: #015178;
}
.disable_enablebtn{
    padding: 8px 10px;
    color: #878787;
    font-family: 'Roboto-Regular';
    font-weight: normal;
}

.enterskintonebox{
    display: inline-block;
    width: 100%;
    margin-bottom: 30px;
    margin-top: 18px;
}


.titlandclobtn2 {
    width: 100%;
    display: inline-block;
}
.titlandclobtn2 .close{
    color: #3E3E3E;
    font-size: 0 !important;
    float: right;
    opacity: 1;
}
.titlandclobtn2 h3 {
    display: inline-block;
    float: left;
    color: #3D3D3D;
    font-size: 18px;
    font-family: 'Roboto-Regular';
    margin: 0;
    font-weight: normal;
    margin-top: 0;
}
.titlandclobtn2 .close img{
    width: 15px;
}

.editskinboxmodal{

}
.editskinboxmodal .modal-dialog {
    width: 450px;
    margin-top: 65px;
}
.editskinboxmodal .modal-content {
    border: 1px solid #78909C;
    border-radius: 2px;
    box-shadow: inherit;
}
.editskinboxmodal .modal-body {
    padding: 0;
}
.editskinboxmodal .titlandclobtn2 h3{
    margin-top: 0 !important;
}
.editsktoboxcover{
    display: inline-block;
    width: 100%;
    padding-top: 25px;
    padding-left: 22px;
    padding-right: 22px;
}

.editskinboxmodal .select2-selection{
    border: 1px solid #979797 !important;
    border-radius: 0 !important;
    box-shadow: inherit;
    color: #676767 !important;
    font-family: 'Roboto-Regular' !important;
    font-size: 15px !important;
    height: 35px !important;
}
.editskinboxmodal .select2-container--default .select2-selection--single .select2-selection__rendered{
    line-height: 35px !important;
}
.editskinboxmodal .seletcustboxpart .select2-container--default .select2-selection--single .select2-selection__arrow{
    height: 35px !important;
}
.editskinboxmodal .select2-selection__arrow b:after{
    top: 7px !important;
}

.enterskintonebox .form-group{
    font-family: 'Roboto-Regular';
}
.enterskintonebox .form-group .form-control{
    border: 1px solid #979797;
    border-radius: 0;
    box-shadow: inherit;
    color: #676767;
    font-family: 'Roboto-Regular';
    font-size: 15px;
    height: 35px;
}
.enterskintonebox .btn{
    display: inline-block !important;
    background: #015178;
    color: #ffffff;
    font-size: 15px !important;
    font-family: 'Roboto-Regular';
    padding: 6px 24px 5px !important;
    border-radius: 3px !important;
    border: 0 !important;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
}
.enterskintonebox .btn:hover{
    color: #ffffff;
}
.enterskintonebox .btn:hover{
    color: #ffffff !important;
}
.enterskintonebox .btn:active{
    color: #ffffff !important;
}
.enterskintonebox .btn.active.focus, .enterskintonebox .btn.active:focus, .enterskintonebox .btn.focus, .enterskintonebox .btn:active.focus, .enterskintonebox .btn:active:focus, .enterskintonebox .btn:focus{
    color: #ffffff !important;
}

.plusbttnbox i{
    margin-right: 50px;
    margin-top: 6px;
    float: right;
}
.left_paretboxpart .dropdown{
    width: 100%;
}


.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
.dropbtn:hover,
.dropbtn:focus {
  background-color: #3e8e41;
}
.dropdown {
  position: relative;
  display: inline-block;
  float: left;
}
.dropdown-content {
  display: none;
  position: relative;
  background-color: #f9f9f9;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  background-color: #f1f1f1;
}
.dropdown-content a.activelistsub:hover{
    background: #000;
}
.show {
  display: block;
}


.custmenbox{

}
.custmenbox .dropdown-content{
    box-shadow: inherit;
}
.custmenbox .dropdown-content a{
    margin-bottom: 0;
    margin-top: 0;
    font-size: 14px;
    color: #000;
}
.custmenbox .dropdown-content a.activelist{
    color: #ffffff !important;
}
.custmenbox .dropdown-content a.activelist:hover{
    background: #015178;
}

label{
    font-weight: normal !important;
}

.AddeditAgency{
    display: inline-block;
    width: 100%;
    margin-bottom: 15px;
    margin-top: 15px;
}
.AddeditAgency a{
    display: inline-block;
    font-family: 'Roboto-Medium';
    border-bottom: 1px solid #E05A00;
    color: #E05A00;
}
.AddeditAgency a:hover , .AddeditAgency a:active{
    color: #E05A00 !important;
}
.allhelpdesjkdeta{
    display: inline-block;
    width: 100%;
}
.allhelpdesjkdeta .form-group{
    margin-bottom: 20px;
    display: inline-block;
    width: 100%;
}
.allhelpdesjkdeta .form-group label{
    display: inline-block;
    font-family: 'Roboto-Medium';
    font-size: 15px;
    color: #2b2a2a;
    width: 100%;
}
.allhelpdesjkdeta .form-group textarea{
    border: 1px solid #979797;
    border-radius: 0;
    box-shadow: inherit;
    color: #676767;
    font-family: 'Roboto-Regular';
    font-size: 15px;
    height: 80px;
    resize: none;
}
.allhelpdesjkdeta .signeup_topbox{
    margin-bottom: 17px;
}






/* media queries */
@media (max-width: 1200px){
	
}
@media (max-width: 1199px){	
	
}
@media (max-width: 991px){
	
}
@media (max-width: 767px){    
    .signupparent_divbox {    
        margin-top: 60px;
    }
    .login_toplogobox p {    
        font-size: 16px;    
    }
    .login_toplogobox h3 {    
        padding-top: 20px;    
    }
    .login_toplogobox img {
        width: 200px;
    }
    .login_toplogobox h3 {    
        font-size: 23px;    
    }
    .signup_innerbox {    
        width: 60%;
    }
}
@media (max-width: 479px){
    .login_toplogobox h3 {
        font-size: 19px;
    }
    .signup_innerbox {
        width: 90%;
    }      
    .login_toplogobox p {
        font-size: 15px;
    }
	.login_toplogobox img {
        width: 165px;
    }
}
@media (max-width: 360px){
	
}
@media (max-width: 320px){
	
}
/* media queries */











