
*{
    text-decoration:none !important; 
    outline:0 !important; 
    list-style:none !important;
}

body {
    color:#2b2a2a; 
    background:#fff; 
    font-family:'robotoregular';
}

a,a:hover {transition:0.6s all !important;}

.form-control:focus {box-shadow: inherit !important; border-color:inherit;}


@font-face {
    font-family: 'Roboto-Regular';
    src: url('../fonts/Roboto-Regular.ttf'),
         url('../fonts/Roboto-Regular.ttf');
        font-weight: normal;
        font-style: normal;
}
@font-face {
    font-family: 'Roboto-Medium';
    src: url('../fonts/Roboto-Medium.ttf'),
         url('../fonts/Roboto-Medium.ttf');
        font-weight: normal;
        font-style: normal;
}
@font-face {
    font-family: 'Roboto-Light';
    src: url('../fonts/Roboto-Light.ttf'),
         url('../fonts/Roboto-Light.ttf');
        font-weight: normal;
        font-style: normal;
}
@font-face {
    font-family: 'Roboto-Bold';
    src: url('../fonts/Roboto-Bold.ttf'),
         url('../fonts/Roboto-Bold.ttf');
        font-weight: normal;
        font-style: normal;
}
@font-face {
    font-family: 'Roboto-Black';
    src: url('../fonts/Roboto-Black.ttf'),
         url('../fonts/Roboto-Black.ttf');
        font-weight: normal;
        font-style: normal;
}







.mainformcl {
    background-color: rgba(255, 255, 255, 0.6);
    margin: 0 auto;
    padding: 0;
    width: 100%;
}

.mainformcl input {
    padding: 10px;
    width: 100%;
    font-size: 17px;
    font-family: Raleway;
    border: 2px solid #aaaaaa;
    background-color: rgba(255, 255, 255, 0.8);
}

.step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #2c3e50;
    border: none;
    border-radius: 50%;
    display: inline-block;
}

.active {
    /*background-color: #2ecc71;*/
}

.tab {
    display: none;
}



.mainformcl .current {
    display: block;
    opacity: 1;
}

.mainformcl .visible {
    display: inline-block;
}

.mainformcl .invalid {
    border-color: #d03e3e
}



.btn-control {
    overflow: auto;
}

.btn-control-internal {
    float: right;
}

.mainformcl button {
    background: #404040;
    border: 1px solid #959595;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 17px;
    font-family: 'Roboto-Regular';
    cursor: pointer;
    display: none;
    margin-left: 5px;
    margin-right: 5px;
}

.mainformcl button:hover {
    opacity: 0.8;
}


.logonamecover{
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-top: 70px;
    margin-bottom: 50px;
}
.logonamecover img{
    width: 74px;
}
.logonamecover h3{
    margin: 0;
    font-family: 'Roboto-Bold';
    font-size: 20px;
    color: #3A3A3A;
    margin-top: 15px;
}



.formdisinercover{
    display: inline-block;
    width: 100%;
    text-align: center;
}

.alldabtitlcover{
    display: inline-block;
    width: 400px;
    margin: 0 auto;
    border: 2px solid #959595; 
    text-align: left;
    margin-bottom: 80px;
}
.signupboxdis{
    display: inline-block;
    width: 100%;
    text-align: center;
    background: #404040;
    height: 48px;
    padding-top: 14px;
}
.signupboxdis h2{
    margin: 0;
    color: #fff;
    font-family: 'Roboto-Light';
    font-size: 19px;
}

.tabdisinerbox{
    width: 100%;
    padding-left: 35px;
    padding-right: 70px;
    padding-top: 38px;
}
.detainerformall{
    display: inline-block;
    width: 100%;
}


.detainerformall label{
    margin: 0;
    font-family: 'Roboto-Light';
    font-size: 20px;
    color: #3A3A3A;
    /*margin-top: 15px;*/
    margin-bottom: 3px;
    padding: 0;
    display: inline-block;

}
.detainerformall .form-group{
    margin: 0;
    margin-bottom: 25px;
}
.detainerformall textarea{
    width: 100%;
    height: 80px;
    border: 0;
    border-bottom: 1px solid #454545;
    color: #616161;
    font-family: 'Roboto-Light';
    font-size: 17px;
    resize: none;
    box-shadow: inherit;
    border-radius: 0;
    padding: 0;
}

.detainerformall input{
    width: 100%;
    height: 32px;
    border: 0;
    border-bottom: 1px solid #454545;
    color: #616161;
    font-family: 'Roboto-Light';
    font-size: 17px;
    resize: none;
    box-shadow: inherit;
    border-radius: 0;
    padding: 0;
    margin-bottom: 0;
}
.detainerformall .date{
    
}
.detainerformall .date .input-group-addon{
    padding: 0;
    background: transparent;
    border: 0;
    box-shadow: inherit;
    height: 0;
    width: 0;
}
.detainerformall .date .glyphicon{
    font-size: 0;
    width: 0;
    height: 0;
}


.nextpribtnbox{
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-top: 26px;
    margin-bottom: 25px;
}
.nextpribtnbox button{
    width: 126px;
    padding: 7px 10px 6px;
    border: 1.5px solid #959595 !important;

}

.textdidisclaimer{
    display: inline-block;
    width: 100%;
    margin: 0;
}
.textdidisclaimer p{
    margin: 0;
    font-family: 'Roboto-Light';
    font-size: 18px;
    color: #3A3A3A;
    margin-bottom: 3px;
}


.ckeck-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.ckeck-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkmark {
    position: absolute;
    top: 2px;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border: 1px solid #404040;
}
.ckeck-container:hover input ~ .checkmark {
  background-color: #ccc;
}
.ckeck-container input:checked ~ .checkmark {
  background-color: #404040;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.ckeck-container input:checked ~ .checkmark:after {
  display: block;
}
.ckeck-container .checkmark:after {
    left: 8px;
    top: 2px;
    width: 8px;
    height: 15px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}



.textdidisclaimer{

}

.textdidisclaimer .checkmark {
    position: relative;
    top: 6px;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border: 1px solid #404040;
    display: inline-block;
}




.droboxdisset{
    padding-left: 35px;
    padding-right: 35px;
}
.dropzone {
    background: white;
    border-radius: 5px;
    border: 2px dashed rgb(0, 135, 247);
    border-image: none;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}
.droboxdisset .dz-message.needsclick{

}
.droboxdisset .dropzone .dz-message {
    text-align: center;
    margin: 4em 0;
    font-family: 'Roboto-Medium';
}



/*** header css ***/
header{
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid #A0A0A0;
}
.hedpartlr{
    display: inline-block;
    width: 100%;
    padding-top: 4px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 50px;
}

.lefttitlebox{
    display: inline-block;
    width: 45%;
    float: left;
    text-align: left;
    padding-top: 14px;
}
.rightnotusei{
    display: inline-block;
    width: 55%;
    float: left;
    text-align: right;
    padding-top: 7px;
}


.lefttitlebox h2{
    color: #444444;
    margin: 0;
    font-size: 20px;
    font-family: 'Roboto-Medium';
}
.rightnotusei a{
    display: inline-block;
    color: #474747;
    font-size: 24px;
    margin-left: 35px;
}
.rightnotusei svg{

}
/*** header css ***/







.wctleftrightbox{
    display: inline-block;
    width: 100%;
    padding-left: 35px;
    padding-right: 30px;
    margin-top: 35px;

}

.leftprofiledit{
    display: inline-block;
    width: 25%;
    float: left;
}
.rightallditinwct{
    display: inline-block;
    width: 75%;
    float: left;
    padding-top: 47px;
    padding-left: 22px;
}


.leftrighticontitl{
    display: inline-block;
    width: 100%;
}
.topbarprfname{
    display: inline-block;
    width: auto;
    float: left;
    margin-bottom: 18px;
}
.topbarprfname svg{
    float: left;
    color: #464646;
    font-size: 26px;
}
.topbarprfname h3{
    font-family: 'Roboto-Bold';
    color: #464646;
    font-size: 26px;
    display: inline-block;
    margin: 0;
    margin-left: 22px;
}
.topbarprfname h3 span{
    font-size: 14px;
    float: right;
    color: #6C6C6C;
    font-family: 'Roboto-Medium';
    margin-left: 8px;
    margin-top: 3px;
}

.righteditiocn{
    display: inline-block;
    float: right;
}
.righteditiocn a{
    display: inline-block;
    color: #0B0B0B;
    font-size: 25px;
    line-height: 1;
    float: right;
}



.profile_photo{
    display: inline-block;
    width: 100%;
    height: 250px;
    padding-right: 3px;
    padding-left: 3px;
}
.profile_photo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.userallphotosbox{
    display: inline-block;
    width: 100%;
}
.userallphotosbox ul{
    display: inline-block;
    width: 100%;
    padding-left: 0;
    margin-top: 8px;
}
.userallphotosbox ul li{
    display: inline-block;
    width: 25%;
    float: left;
    height: 75px;
    padding-right: 3px;
    padding-left: 3px;
}
.userallphotosbox ul li img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.leriuserdetabox{
    display: inline-block;
    width: 100%;
    margin-top: 18px;
}
.userdetabox{
    display: inline-block;
    width: 100%;
    margin-bottom: 15px;
}
.userdeta_left{
    float: left;
    width: 58px;
}
.userdeta_left p{
    display: inline-block;
    width: 100%;
    margin: 0;
    font-size: 16px;
    color: #444444;
    font-family: 'Roboto-Medium';
}

.userdeta_right{
    width: 68%;
    float: left;
}
.userdeta_right p{
    display: inline-block;
    width: 100%;
    margin: 0;
    font-size: 16px;
    color: #6D6C6C;
    font-family: 'Roboto-Medium';
    margin-bottom: 4px;
    word-break: break-all;
}
.userdeta_right span{
    margin-left: 35px;
}
.userdeta_left svg{
    font-size: 18px !important;
    color: #444444;
}
.userdeta_left .fa-phone{
    transform: rotate(95deg);
}

.searchbarboxfilt{
    display: inline-block;
    width: 100%;
}
.srchbox{
    display: inline-block;
    width: 265px;
    float: left;
    position: relative;
}
.srchbox svg{
    position: absolute;
    left: 12px;
    top: 13px;
    font-size: 16px;
}
.srchbox .form-group{
    margin: 0;
}
.srchbox input{
    width: 100%;
    height: 42px;
    color: #656565;
    font-family: 'Roboto-Medium';
    font-size: 16px;
    padding-left: 40px;
    border: 1px solid #A2A2A2;
    border-radius: 3px;
    box-shadow: inherit;
}


.addandtagbox{
    display: inline-block;
    width: auto;
    float: right;
}

.addatribut{
    float: left;
    display: inline-block;
}
.addatribut a{
    display: inline-block;
    background: #F2F2F2;
    color: #474747;
    font-size: 18px;
    font-family: 'Roboto-Regular';
    padding: 6px 10px 5px;
    border-radius: 3px;
    border: 1px solid #999999;
    margin-right: 18px;
}
.addatribut svg{
    float: left;
    font-size: 25px;
    margin-right: 10px;
}


.tagboxright{
    display: inline-block;
    float: left;
}
.tagboxright a{
    display: inline-block;
    background: #D9D9D9;
    width: 52px;
    border-radius: 3px;
    text-align: center;
    height: 40px;
    padding-top: 11px;
    color: #464646;
}
.tagboxright svg{
    font-size: 21px;
}


.taballdeainerpag{
    display: inline-block;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 15px;
}
.taballdeainerpag ul{
    display: inline-block;
    width: 100%;
    padding-left: 0;
    margin: 0;
    border-bottom: 1px solid #CCCCCC;
}
.taballdeainerpag ul li{
    display: inline-block;
    width: auto;
    float: left;
    display: inline-block;
    width: auto;
    float: left;
    padding-right: 24px;
}

.taballdeainerpag ul li a{
    display: inline-block;
    font-family: 'Roboto-Regular';
    font-size: 18px;
    color: #474747;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 8px;
    position: relative;
}
.taballdeainerpag ul li.active a:before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    background: #D8D8D8;
    width: 100%;
    height: 7px;
    border: 1px solid #A4A4A4;
}

.hedfullmotobox{
    display: inline-block;
    width: 100%;
    border: 1px solid #9C9C9C;
    padding-left: 18px;
    padding-top: 18px;
    padding-bottom: 15px;
    padding-right: 18px;
    margin-bottom: 8px;
}

.allboxtitlesem{
    display: inline-block;
    width: 100%;
}
.allboxtitlesem h3{
    display: inline-block;
    margin: 0;
    font-size: 20px;
    color: #474747;
    font-family: 'Roboto-Medium';
    margin-bottom: 13px;
}
.allboxtitlesem h3 span{
    color: #575757;
    font-family: 'Roboto-Regular';
    font-size: 15px;
    float: right;
    margin-left: 10px;
    margin-top: 5px;
}


.gelimgleftbox{
    display: inline-block;
    width: 70%;
    float: left;
}
.gelimgleftbox ul{
    display: inline-block;
    width: 100%;
    padding-left: 0;
    margin: 0;
}
.gelimgleftbox ul li{
    display: inline-block;
    width: 14.2%;
    float: left;
    height: 76px;
    padding-right: 7px;
}
.gelimgleftbox ul li img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.gelimgleftbox p{
    font-size: 18px;
    color: #474747;
    font-family: 'Roboto-Regular';
    margin: 0;
}

.viewgallbox{
    display: inline-block;
    float: right;
}
.viewgallbox a{
    background: #EAEAEA;
    text-align: center;
    width: 92px;
    height: 76px;
    display: inline-block;
    color: #444444;
    font-size: 13px;
    font-family: 'Roboto-Regular';
    margin: 0;
    padding-top: 20px;
}

.editboxinerpart{
    display: inline-block;
    float: right;
}   
.editboxinerpart a{
    display: inline-block;
    color: #0B0B0B;
    font-size: 25px;
    line-height: 1;
}

.Appeaceboxalldeta{
    display: inline-block;
    width: 100%;
    margin-top: 12px;
}
.topbartitlebox{
    display: inline-block;
    width: 100%;
}
.topbartitlebox h3{
    margin: 0;
    font-family: 'Roboto-Medium';
    font-size: 20px;
    float: left;
}
.topbartitlebox a{
    display: inline-block;
    color: #0B0B0B;
    font-size: 25px;
    line-height: 1;
    float: right;
}

.userapperboxiner{
    display: inline-block;
    width: 100%;
    margin-top: 10px;
}
.egchhhsboxlr{
    display: inline-block;
    width: 50%;
    float: left;
}

.teodetacoverbox{
    display: inline-block;
    width: 100%;
    margin-bottom: 5px;
}

.egchhhsboxlr_left{
    display: inline-block;
    width: 35%;
    float: left;
}
.egchhhsboxlr_right{
    display: inline-block;
    width: 65%;
    float: left;
}
.egchhhsboxlr_left p{
    margin: 0;
    color: #585D61;
    font-size: 16px;
    font-family: 'Roboto-Regular';
}
.egchhhsboxlr_right p{
    margin: 0;
    font-size: 16px;
    color: #161616;
    font-family: 'Roboto-Regular';
}


.measumtbox{
    display: inline-block;
    width: 100%;
    margin-top: 35px;
}
.measumtbox .topbartitlebox{
    margin-bottom: 24px;
}
.bodyditbox_left{
    width: 58%;
    float: left;
}
.bodyditbox_right{
    width: 42%;
    float: left;
}
.bodyditbox_left img{
    width: 220px;
}

.redtext .egchhhsboxlr_left p{
    color: #B13638;
}
.redtext .egchhhsboxlr_right p{
    color: #B13638;
}

.sizesboxalldit{
    display: inline-block;
    width: 100%;
    margin-top: 45px;
    margin-bottom: 58px;
}
.sizesboxalldit .topbartitlebox{
    margin-bottom: 24px;
}

.newgallerymod{

}
.newgallerymod .modal-dialog{
    width: 70%;
}
.newgallerymod .modal-body{
    padding: 0;
}
.newgallerymod .modal-content{
    border: 2px solid #989898;
    border-radius: 0;
    box-shadow: inherit;
}
.modal-backdrop.fade{
    background-color: transparent;
}

.GalleryBoxinerdeta{
    display: inline-block;
    width: 100%;
    padding-top: 25px;
    padding-left: 30px;
    padding-right: 30px;
}

.inputbixin{
    margin: 0;
    margin-bottom: 22px;
    width: 100%;
    display: inline-block;
}
/*.inputbixin label{
    color: #3D3D3D;
    font-size: 18px;
    font-family: 'Roboto-Regular';
    margin: 0;
    font-weight: normal;
}*/
.inputbixin input.form-control{
    color: #676767;
    font-family: 'Roboto-Regular';
    font-size: 23px;
    border: 0;
    box-shadow: inherit;
    padding-left: 0;    
    border-bottom: 1px solid #979797;
    border-radius: 0;
    width: 75%;
}

.textarbox{
    margin: 0;
    width: 100%;
    display: inline-block;
}
.textarbox textarea.form-control{
    border: 1px solid #979797;
    border-radius: 0;
    box-shadow: inherit;
    resize: none;
    color: #676767;
    font-family: 'Roboto-Regular';
    font-size: 18px;
    height: 90px;
}


.inputbixin input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #676767;
  font-style: italic;
}
.inputbixin input::-moz-placeholder { /* Firefox 19+ */
  color: #676767;
  font-style: italic;
}
.inputbixin input:-ms-input-placeholder { /* IE 10+ */
  color: #676767;
  font-style: italic;
}
.inputbixin input:-moz-placeholder { /* Firefox 18- */
  color: #676767;
  font-style: italic;
}

.textarbox textarea::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #676767;
  font-style: italic;
}
.textarbox textarea::-moz-placeholder { /* Firefox 19+ */
  color: #676767;
  font-style: italic;
}
.textarbox textarea:-ms-input-placeholder { /* IE 10+ */
  color: #676767;
  font-style: italic;
}
.textarbox textarea:-moz-placeholder { /* Firefox 18- */
  color: #676767;
  font-style: italic;
}



.titlandclobtn{
    width: 100%;
    display: inline-block;
}
.titlandclobtn h3{
    display: inline-block;
    float: left;
    color: #3D3D3D;
    font-size: 18px;
    font-family: 'Roboto-Regular';
    margin: 0;
    font-weight: normal;
    margin-top: 14px;
}
.titlandclobtn h4{
    display: inline-block;
    float: left;
    color: #3D3D3D;
    font-size: 22px;
    font-family: 'Roboto-Medium';
    margin: 0;
    font-weight: normal;
    margin-top: 14px;
}
.titlandclobtn .close{
    /*color: #3E3E3E;*/
    font-size: 40px;
    float: right;
    opacity: 1;
}
.titlandclobtn .close svg{
    color: #3E3E3E;
    line-height: 1;
}


.dropboxzoniner{
    display: inline-block;
    width: 100%;
    margin-top: 15px;
}

.dropboxzoniner .dropzone{
    width: 100%;
    min-height: 150px;
    border: 1.5px dashed #9E9E9E;
    background: white;
    padding: 20px 20px;
    max-width: 100%;
    color: #6C6C6C;
    border-radius: 0;
}


.Browsedropbox{
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 10px;
}
.Browsedropbox svg{
    color: #0A0A0A;
    font-size: 50px;
}
.Browsedropbox p{
    color: #6C6C6C;
    font-family: 'Roboto-Regular';
    font-size: 21px;
    display: inline-block;
    margin: 0;
    width: 100%;
    font-style: italic;
    margin-top: 25px;
}
.Browsedropbox h3{
    border: 1px solid #949494;
    background: #D8D8D8;
    display: inline-block;
    margin: 0;
    font-size: 18px;
    font-family: 'Roboto-Regular';
    padding: 6px 20px 6px;
    margin-top: 32px;
}



.imgtitleboz {
    margin: 0;
    margin-bottom: 18px;
    width: 100%;
    display: inline-block;
    margin-top: 13px;
}
.imgtitleboz input.form-control {
    color: #676767;
    font-family: 'Roboto-Regular';
    font-size: 20px;
    border: 0;
    box-shadow: inherit;
    padding-left: 0;
    border-bottom: 1px solid #979797;
    border-radius: 0;
    width: 75%;
}
.imgtitleboz input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #676767;
  font-style: italic;
}
.imgtitleboz input::-moz-placeholder { /* Firefox 19+ */
  color: #676767;
  font-style: italic;
}
.imgtitleboz input:-ms-input-placeholder { /* IE 10+ */
  color: #676767;
  font-style: italic;
}
.imgtitleboz input:-moz-placeholder { /* Firefox 18- */
  color: #676767;
  font-style: italic;
}


.imgaddedboxi{
    display: inline-block;
    width: 100%;
    border-top: 2px solid #959595;
}

.gallerypotosall{
    display: inline-block;
    width: 100%;
    padding-left: 35px;
    padding-right: 30px;
    margin-top: 35px;
}

.addvewimgbox{
    display: inline-block;
    width: 100%;
}
.discriptionimg{
    display: inline-block;
    width: 100%;
}
.discriptionimg h3{
    width: 100%;
    font-family: 'Roboto-Regular';
    color: #464646;
    font-size: 22px;
    margin: 0;
    line-height: 32px;
}
.discriptionimg a{
    display: inline-block;
    background: #F2F2F2;
    color: #474747;
    font-size: 18px;
    font-family: 'Roboto-Regular';
    padding: 6px 10px 5px;
    border-radius: 3px;
    border: 1px solid #999999;
    margin-right: 18px;
    width: 182px;
    margin-top: 22px;
    margin-bottom: 10px;
}
.discriptionimg a svg {
    float: left;
    font-size: 25px;
    margin-right: 10px;
}

.gridimgphotobox{
    display: inline-block;
    width: 100%;

}

/*.gridimgphotobox img{
    width: 50%;
}
*/
/*.gridimgphotobox ul{
    display: grid;
    width: 100%;
    padding-left: 0;
}
.gridimgphotobox ul li{
    display: inline-block;
    width: 50%;
    float: left;
}
.gridimgphotobox ul li img{
    width: 100%;
}
*/

.gridimgphotobox img {
  border: 0;
  display: block;
  width: 100%;
}
.entry {
  background: #FFF;
  border: 1px solid rgba(0,0,0,.15);
  box-shadow: -10px 10px 10px -10px rgba(0,0,0,.35), -10px 10px 0 -3px rgba(0,0,0,.2);
  margin: 10px auto 20px;
  max-width: 800px;
  overflow: hidden;
  padding: 20px 40px;
  position: relative;
  text-align: center;
}
.entry > p {
  padding: 20px 0 10px;
}
.entry > .grid {
  margin: 20px auto 0px;
}
.entry > .grid > .item {
  width: 50%;
}
.grid {
    max-width: 100%;
    list-style: none;
    margin: 30px auto;
    padding: 1;
}
.grid .item {
    display: block;
    float: left;
    padding: 5px;
    width: 50%;
    opacity: 1;
}
.grid .item a,.grid .item img {
    outline: none;
    border: none;
    display: block;
    max-width: 100%;
}
.grid.effect-2 .item.animate {
    -webkit-transform: translateY(200px);
    transform: translateY(200px);
    -webkit-animation: moveUp 0.65s ease forwards;
    animation: moveUp 0.65s ease forwards;
}

@-webkit-keyframes moveUp {
    0% { }
    100% { -webkit-transform: translateY(0); opacity: 1; }
}

@keyframes moveUp {
    0% { }
    100% { -webkit-transform: translateY(0); transform: translateY(0); opacity: 1; }
}
@media screen and (max-width: 900px) {
    .grid .item {width: 50%;}
  .entry {box-shadow: none;}
  .entry > .grid > .item {width: 50%;}
}

@media screen and (max-width: 400px) {
    .grid .item {width: 100%;}
  .entry {padding: 20px 0;}
  .entry > p {padding: 10px;}
  .entry > .grid > .item {width: 100%;}
}


.Gallerydetaaddbox{
    display: inline-block;
    width: 100%;
    padding-top: 25px;
    
}
.Gallerydetaaddbox .titlandclobtn{
    padding-left: 30px;
    padding-right: 30px;
}

.photovewbox{
    display: inline-block;
    width: 100%;
}
.photovewbox img{
    width: 100%;
}

/*.imageslistingbox{
    display: inline-block;
    width: 100%;
    text-align: center;
    border-top: 2px solid #959595;
    padding-top: 14px;
}
.imageslistingbox ul{
    display: inline-block;
    width: auto;
    padding-left: 0;
}
.imageslistingbox ul li{
    display: inline-block;
    width: 100px;
    height: 80px;
    float: left;
    margin-left: 3px;
    margin-right: 3px;
}
.imageslistingbox ul li img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}*/

.droplisingimg{

}
.lefimgadd{
    display: inline-block;
    width: 100%;
    padding-top: 38px;
    padding-left: 18px;
}
.lefimgadd svg{
    float: left;
    color: #333B46;
    font-size: 21px;
}
.lefimgadd p{
    display: inline-block;
    float: left;
    margin: 0;
    font-size: 17px;
    color: #060606;
    font-family: 'Roboto-Regular';
    padding-left: 26px;
}

.droplisingimg .dropzone.dz-clickable{
    min-height: auto;
}
.droplisingimg .dropzone .dz-message{
    margin: 0;
}
.droplisingimg .dropzone{
    padding: 0;
    background: #D8D8D8;
    height: 100px;
    border: 1px solid #9A9A9A;
    border-radius: 0;
}


.lftinttileditbox{
    display: inline-block;
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    border-bottom: 2px solid #959595;
    margin-bottom: 8px;
}
.imgtitleboz{
    display: inline-block;
    width: 70%;
    float: left;
    text-align: right;
}
.rightedittagbox{
    display: inline-block;
    width: 30%;
    float: right;
    text-align: right;
    padding-top: 13px;
}


.tagbox{
    display: inline-block;
}
.editbox{
    display: inline-block;
    margin-left: 36px;
}

.tagbox a{
    color: #636363;
    display: inline-block;
    font-size: 20px;
    font-family: 'Roboto-Regular';
}

.editbox a{
    color: #0A0A0A;
    display: inline-block;
    font-size: 30px;
}


.lftinttileditbox .imgtitleboz input.form-control{
    width: 86%;
}


.sliderpartinerset{
    display: inline-block;
    width: 100%;
}




.gallryappbox{
  /*font-family: "Lato", sans-serif;*/
    font-weight: 300;
    margin: 0 auto;
    max-width: auto;
    padding: 0;
    margin: 0;
}

.main {
  margin-bottom: 2px;
}

.thumbnails {
  /*margin: 0 -5px;
  width: calc(100% + 10px);*/
    margin: 0;
    width: 100%;
}

.agile__nav-button {
  background: transparent;
  border: none;
  color: #ccc;
  cursor: pointer;
  font-size: 24px;
  transition-duration: 0.3s;
}
.thumbnails .agile__nav-button {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.thumbnails .agile__nav-button--prev {
  left: -45px;
}
.thumbnails .agile__nav-button--next {
  right: -45px;
}
.agile__nav-button:hover {
  color: #888;
}
.agile__dot {
  margin: 0 10px;
}
.agile__dot button {
  background-color: #eee;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  display: block;
  height: 10px;
  font-size: 0;
  line-height: 0;
  margin: 0;
  padding: 0;
  transition-duration: 0.3s;
  width: 10px;
}
.agile__dot--current button, .agile__dot:hover button {
  background-color: #888;
}

.slide {
  align-items: center;
  box-sizing: border-box;
  color: #fff;
  display: flex;
  height: 450px;
  justify-content: center;
}
.slide--thumbniail {
  cursor: pointer;
  height: 100px;
  padding: 0 5px;
  transition: opacity 0.3s;
}
.slide--thumbniail:hover {
  opacity: 0.75;
}
.slide img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 100%;
}

.gallryappbox .agile.main{
    padding-left: 30px;
    padding-right: 30px;
}
.gallryappbox .agile.thumbnails{    
    width: 80%;
    /*float: left;*/
    display: inline-block;
}
.drprightboxiner{
    display: inline-block;
    /*float: left;*/
    width: auto;
    margin-right: 10px;
}
.droplisingimg{
    width: 133px;
    height: 100px;
}
.droplisingimg #dropzone{
    float: left;
    width: 100%;
}

.leftrightaggthumbox{
    display: inline-block;
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    margin-bottom: 8px;
}


.gallryappbox .agile__actions{
    display: none;
}

.forgotpasslink{
    margin: 0;
    font-family: 'Roboto-Medium';
    font-size: 14px;
    color: #3A3A3A;
    margin-top: 8px !important;
    margin-bottom: 0;
    padding: 0;
    display: inline-block;
}

.signpboxlink{
    margin: 0;
    font-family: 'Roboto-Medium';
    font-size: 14px;
    color: #3A3A3A;
    margin-bottom: 8px !important;
    padding: 0;
    display: inline-block;
    margin-left: 8px;
}

.detainerformall .error{
    width: 100%;
    margin: 0;
    font-family: 'Roboto-Light';
    font-size: 14px;
    color: #FF0000;
    display: inline-block;
}
.detainerformall .invalid-feedback strong{
    width: 100%;
    margin: 0;
    font-weight: normal;
    font-family: 'Roboto-Light';
    font-size: 14px;
    color: #FF0000;
}

.seletcustboxpart {
    display: inline-block;
    width: 100%;
}
.seletcustboxpart2{
    display: inline-block;
    width: 100%;
}
.appearanceFormat .seletcustboxpart2{
    /*padding-right: 25px;*/
}
.seletcustboxpart2 .select2-container{
    width: 100% !important;
}
.seletcustboxpart2 .select2-container .select2-selection--single{
    height: 32px;
}
.seletcustboxpart2 .select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #444;
    line-height: 32px;
    font-family: 'Roboto-Light';
    font-size: 14px;
}
.seletcustboxpart2 .select2-container--default .select2-selection--single .select2-selection__arrow{
    height: 32px;
}
.select2-results__option {
    font-family: 'Roboto-Light';
}

.appearanceFormat{
    padding-right: 25px;
}
.appearanceFormat input{
    color: #444;
    font-family: 'Roboto-Light';
    font-size: 14px;
    border: 1px solid #aaa;
    border-radius: 4px;
    height: 30px;
    padding: 10px;
    width: 100%;
}



















/* media queries */
@media (max-width: 1200px){
	
}
@media (max-width: 1199px){	
	
}
@media (max-width: 991px){
	
}
@media (max-width: 767px){

}
@media (max-width: 479px){
	
}
@media (max-width: 360px){
	
}
@media (max-width: 320px){
	
}
/* media queries */











